body {
	font-family: 'Lato', sans-serif;
}

.header {
	height: 170px;
	background-color: #164aa7;
	color: white;
}

a:link, a:visited, a:active{
	color: white;
}

a {
	margin-right: 50px;
	text-decoration: none;
}

/******* Footer *******/
.buscador {
	
	background-color: #fff;
	border: 1px solid black;
	height: 200px;
}

/******* Footer *******/
.text-footer a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.text-footer a:hover {
  color: #00b0c8;
  text-shadow: 0px 0px 5px #00b0c850;
  right: 0;
  left: 0;
  font-size: 1.03rem;
  transition: 0.3s;
}
.col img {
  margin-right: 1rem;
}